# Project exclude paths
/.gradle/
/.idea/
/.intellijPlatform/
/impl/build/
/base/build/
/javac/build/
/test/build/
/gradle_plugin/build/
/inject_java16/build/
/inject_java7/build/
/inject_java11/build/